#gameplay-area, .side-control, .bottom-control {
	float: left;
}

.side-control {
	float: left;
}

.bottom-control {
	float: left;
}

#bottom-controls, #footer, #modal-buttons {
	clear: both;
}

.filter-header, .control-header {
	font-weight: bold;
}

.checkbox-wrapper input:checked+label {
	color: blue;
}

#timeout-slider {
	width: 390px;
}

#flip-back-timeout-seconds {
	border: 0px;
	width: 40px;
}

.horizontal-slider-display, #flip-back-timeout-seconds {
	font-weight: bold;
	font-size: 20pt;
}

.slider-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.kanjipairs-button {
	font-size: 20pt;
	margin-top: 25px;
	margin-left: 15px;
	margin-bottom: 25px;
	background-color: blue;
	color: white;
}
