#gameplay-area {
	float: left;
}

.side-control {
	float: right;
}

.bottom-control {
	float: left;
}

#bottom-controls {
	clear: both;
}

#timeout-slider {
	width: 390px;
}

#flip-back-timeout-seconds {
	border: 0px;
	width: 40px;
}

.horizontal-slider-display, #flip-back-timeout-seconds {
	font-weight: bold;
	font-size: 20pt;
}

.slider-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#new-set {
	font-size: 20pt;
	margin-top: 25px;
	margin-left: 15px;
	background-color: blue;
	color: white;
}

#footer {
	clear: both;
}