#gameplay-area {
	float: left;
}

.side-control {
	float: right;
}

.bottom-control {
	clear: both;
}

#timeout-slider {
	width: 390px;
}

#flip-back-timeout-seconds {
	border: 0px;
}

.horizontal-slider-display, #flip-back-timeout-seconds {
	font-weight: bold;
	font-size: 20pt;
}

.slider-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#footer {
	clear: both;
}